### Operadores Aritméticos

In [ ]:
# Adição
30 + 2

32

In [ ]:
# Subtração
30 - 2

28

In [ ]:
# Multiplicação
30 * 2

60

In [ ]:
# Divisão
30 / 2

15.0

In [ ]:
# Divisão inteira
30 // 2

15

In [ ]:
# Resto da divisão
30 % 2

0

In [ ]:
# Potenciação
30 ** 2

900

### Operadores Relacionais

In [ ]:
# Menor
30 < 2

False

In [ ]:
# Menor ou igual
30 <= 2

False

In [ ]:
# Maior
30 > 2

True

In [ ]:
# Maior ou igual
30 >= 2

True

In [ ]:
# Igual
30 == 2

False

In [ ]:
# Diferente
30 != 2

True

### Operadores Lógicos

In [ ]:
# And
# Apenas é verdadeiro se todas as condições forem verdadeiras

print(30 > 2 and 10 > 2) #True
print(30 > 2 and 2 > 10) #False

True
False

In [ ]:
# Or
# É verdadeiro se pelo menos uma das condições for verdadeira

print(30 > 2 or 10 > 2) #True
print(30 > 2 or 2 > 10) #True
print(2 > 30 or 2 > 10) #False

True
True
False

In [ ]:
# Not
# Converte o resultado para o contrário

not 10 > 2 #True, so converted to False

False

### Variáveis

#### Estão alocados em espaços de memória e armazenam um valor.

In [ ]:
n1 = 10    # Não precisamos definir o tipo de variável. O Python é uma linguagem de alto nível, então
n2 = 30    # define sozinho qual o tipo de variável que vai ser usada a partir da declaração.

soma = n1 + n2
print(soma)

40

### Interação com o usuário

#### Print, Concatenação, Type, Input

In [ ]:
# Print

idade = 19
nome = "Marcela"

print("Seu nome é", nome,"e sua idade é", idade) # A concatenação é feita por vírgulas.

Seu nome é Marcela e sua idade é 19

In [ ]:
# Concatenação com operações

x = 10

print("O valor de X é", x, "e o dobro dele é", x * 2)

O valor de X é 10 e o dobro dele é 20

In [ ]:
x = 10
type(x) # Print do tipo de variável

int

In [ ]:
# Convertendo tipos de variáveis

x = "100"
type(x)

convert_x = int(x) # Conversão

print(type(x))
print (type(convert_x))

<class 'str'>
<class 'int'>

In [ ]:
# Receber dados do usuário
# O dado sempre é armazenado como um texto

nome = input("Digite o nome do usuário: ")
print(nome)

Digite o nome do usuário: Agnes
Agnes

In [ ]:
#Convertendo input para realizar operações

valor_produto = input("Insira o valor do produto: ")

valor_p = int(valor_produto) # COnversão do input recebido do usuário para INT
desconto = valor_p - 5
print ("O valor com desconto é", desconto)

Insira o valor do produto: 100
O valor com desconto é 95

### Condicional

In [ ]:
# IF

if 5 < 10:
  print("Verdade")

Verdade

In [ ]:
# IF/ELSE

if 5 < 10:
  print("Verdade")
else:
  print("Falso")

Verdade

In [ ]:
# if/elif/else

n1 = input('Digite o numéro 1: ')
n2 = input('Digite o numéro 2: ')

if n1 > n2:
  print("O número 1 é maior")
elif n2 > n1:
  print("O número 2 é maior")
else:
  print("Nenhum dos números é maior")

Digite o numéro 1: 1
Digite o numéro 2: 1
Nenhum dos números é maior

In [ ]:
# Condições com operadores lógicos

n1 = 10
n2 = 15
n3 = 5

if (n1 > n2 and n1 > n3):
  print("O número 1 é o maior")
else:
  print("O número 1 não é o maior")

### Listas

In [ ]:
# Formada por colchetes

[1,2,3]

[1, 2, 3]

In [ ]:
# Podemos colocar qualquer tipo de conteúdo

lista = [1, "Número", 5.7]

In [ ]:
# Os valores da lista podem ser modificados

lista.append("Marcia")

print(lista)
print(lista[4])

[1, 'Número', 5.7, 'Marcia', 'Marcia', 'Marcia']
Marcia

###Tupla

In [ ]:
# Formada por parênteses
# Não pode ser modificada

(9, "Olá")

(9, 'Olá')

###Dicionário

In [ ]:
# Formado por chaves
# Podemos utilizar qualquer valor do índice
# Para cada valor, temos uma chave associada

dicionario = {'nome':'Agnes','cidade':'Campinas'}
print(dicionario)

{'nome': 'Agnes', 'cidade': 'Campinas'}

In [ ]:
# Usamos o nome da chave para puxar o dado

print(dicionario['nome'])

Agnes

In [ ]:
# Podemos modificar

dicionario['ultimo_nome'] = "Prado"

In [ ]:
print(dicionario)

{'nome': 'Agnes', 'cidade': 'Campinas', 'ultimo_nome': 'Prado'}

### Estruturas de repetição

In [ ]:
# For range

for contador in range(10):
  print(contador)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# For range + break

for contador in range(10):
  print(contador)
  if contador == 2:
    break

0
1
2

In [ ]:
lista = ["Teste1", "Teste2"]

#For simples
for varrer in lista:
  print(varrer)

Teste1
Teste2

In [ ]:
# For enumerate

for i, varrer in enumerate(lista):
  print(i, varrer)

0 Teste1
1 Teste2

In [ ]:
# Operadores Compostos

lista2 = [2, 3, 4]

for valor in lista2:
  valor += 1
  print(valor)

3
4
5

In [ ]:
# While

var = 1

while (var < 6):
  var += 2
  print(var)

3
5
7

In [ ]:
var = 5

while (var < 6):
  var += 2
else:
  print(var)

7